

  <p>
      <input type="search"  [(ngModel)]="searchQuery" placeholder="Введите текст для поиска" >    
      <select  (change)="onChange($event.target.value)">
         <option value="" >Выберите поисковую систему</option>
         <option value="https://google.com/search?q=">Google</option>
         <option value="https://bing.com?q=">Bing</option>
         <option value="https://ask.com/web?q=">Ask</option>
         </select>
      <input type="submit" value="Искать" (click)="redirectAndSearch()">
  </p>

